<html lang='en'>
    <head>
        <title>Gainers</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <style>
            #symbolresult {
                margin-left: 3cm;
                color: antiquewhite;
            }
        </style>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                table = document.querySelector('tbody').innerHTML;
                table1 = document.querySelector('thead').innerHTML; 
                fetch('http://127.0.0.1:8000/codesfunction')
                .then(response =>response.json())
                .then(data => {
                    let i = 0;
                    while(i<1819) {
                        if(i===0) {
                            s = Object.keys(data)[i];
                            p = Object.values(data)[i];
                            table1 = '<tr><td>'+p+'</td><td>'+s+'</td></tr>';
                        }
                        else{
                            s = Object.keys(data)[i];
                            p = Object.values(data)[i];
                            table = table +'<tr><td>'+p+'</td><td>'+s+'</td></tr>';
                        }
                        i++;
                    }
                    document.querySelector('tbody').innerHTML = table;
                    document.querySelector('thead').innerHTML = table1;
                });
                document.querySelector('#companysearch').onclick = function() {
                    company = document.querySelector("#company").value;
                    if(company === '') {
                        document.querySelector("#result").innerHTML = 'Enter a valid Company name.';
                    }
                    else{
                        name = company.toUpperCase();
                        fetch('http://127.0.0.1:8000/codesfunction')
                        .then(response =>response.json())
                        .then(data => {
                            let equal = 0;
                            for(let i=1 ; i<=67; i++){
                                s = Object.values(data)[i].toUpperCase();
                                if(name === s) {
                                    equal = i;
                                }    
                            }
                            p = Object.keys(data)[equal];
                            if(equal === 0) {
                                document.querySelector("#result").innerHTML = name +'    '+ p;
                            }
                            else {
                                v = Object.keys(data)[equal];
                                if( v != null) {
                                    document.querySelector('#result').innerHTML = v;    
                                }
                                else {
                                document.querySelector('#result').innerHTML = 'null';    
                                }
                            }
                        })
                } 
            }
        })
        </script>
    </head>
    <body>
        <header>
            <button onclick="window.location.href='http://127.0.0.1:8000/'">Home</button>
            <button onclick="window.location.href='http://127.0.0.1:8000/search'">Search</button>
            <button onclick="window.location.href='http://127.0.0.1:8000/gainers'">Gainers</button>
            <button onclick="window.location.href='http://127.0.0.1:8000/losers'">Losers</button>
            <button onclick="window.location.href='http://127.0.0.1:8000/codes'">Symbols</button>
            <button onclick="window.location.href='http://127.0.0.1:8000/credits'">Credits</button>
        </header>
        <hr>
        <h1 id='searchpageheading'>The list of Symbols of all the Companies is given below.</h1>
        <div id='symbolresult'>
            <h2>Enter the Company name to search the symbol:</h2>
            <input id='company' name='company' type='text' placeholder='Company Name'>
            <input id='companysearch' type="submit" value='View symbol'>
            <p>The symbol is:</p>
            <p id='result'>--</p>
        </div>
        <table id='codestable'>
            <thead id='codestablehead'>
            </thead>
            <hr>
            <tbody>
            </tbody>
        </table>
        <h1 id='codestableend'>That's the end of Company Codes list.</h1>
    </body>
</html>