<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Stock Market Predictions</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<meta content="Free HTML Templates" name="keywords" />
		<meta content="Free HTML Templates" name="description" />

		<!-- Favicon -->
		{% load static %}
		<link href="{% static '/img/favicon.ico' %}" rel="icon" />

		<!-- Google Web Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap"
			rel="stylesheet"
		/>

		<!-- Icon Font Stylesheet -->
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
			rel="stylesheet"
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
			rel="stylesheet"
		/>

		{% load static %}
		<link
			href="{% static '/lib/owlcarousel/assets/owl.carousel.min.css' %}"
			rel="stylesheet"
		/>
		<link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" />
		<link href="{% static '/css/style.css' %}" rel="stylesheet" />
		<script>
			document.addEventListener("DOMContentLoaded", function () {
				table = document.querySelector("tbody").innerHTML;
				table1 = document.querySelector("thead").innerHTML;
				fetch("http://127.0.0.1:8000/codesfunction")
					.then((response) => response.json())
					.then((data) => {
						let i = 0;
						while (i < 1819) {
							if (i === 0) {
								s = Object.keys(data)[i];
								p = Object.values(data)[i];
								table1 =
									"<tr><td>" +
									p +
									"</td><td>" +
									s +
									"</td></tr>";
							} else {
								s = Object.keys(data)[i];
								p = Object.values(data)[i];
								table =
									table +
									"<tr><td>" +
									p +
									"</td><td>" +
									s +
									"</td></tr>";
							}
							i++;
						}
						document.querySelector("tbody").innerHTML = table;
						document.querySelector("thead").innerHTML = table1;
					});
				document.querySelector("#companysearch").onclick = function () {
					company = document.querySelector("#company").value;
					if (company === "") {
						document.querySelector("#result").innerHTML =
							"Enter a valid Company name.";
					} else {
						name = company.toUpperCase();
						fetch("http://127.0.0.1:8000/codesfunction")
							.then((response) => response.json())
							.then((data) => {
								let equal = 0;
								for (let i = 1; i <= 67; i++) {
									s = Object.values(data)[i].toUpperCase();
									if (name === s) {
										equal = i;
									}
								}
								p = Object.keys(data)[equal];
								if (equal === 0) {
									document.querySelector(
										"#result"
									).innerHTML = name + "    " + p;
								} else {
									v = Object.keys(data)[equal];
									if (v != null) {
										document.querySelector(
											"#result"
										).innerHTML = v;
									} else {
										document.querySelector(
											"#result"
										).innerHTML = "null";
									}
								}
							});
					}
				};
			});
		</script>
	</head>

	<body>
		<!-- Navbar Start -->
		<nav
			class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-0"
		>
			<a href="index.html" class="navbar-brand d-block d-lg-none">
				<h1 class="m-0 text-uppercase text-white">
					<i class="fa fa-birthday-cake fs-1 text-primary me-3"></i
					>Stock Market Predictions
				</h1>
			</a>
			<button
				class="navbar-toggler"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarCollapse"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav ms-auto mx-lg-auto py-0">
					<a
						href="http://127.0.0.1:8000/"
						class="nav-item nav-link active"
						>Home</a
					>
					<a
						href="http://127.0.0.1:8000/predictions/"
						class="nav-item nav-link"
						>Predict</a
					>
					<a
						href="http://127.0.0.1:8000/gainers/"
						class="nav-item nav-link"
						>Gainers</a
					>
					<a
						href="http://127.0.0.1:8000/losers/"
						class="nav-item nav-link"
						>Losers</a
					>
					<a
						href="http://127.0.0.1:8000/search/"
						class="nav-item nav-link"
						>Search</a
					>
					<a
						href="http://127.0.0.1:8000/codes/"
						class="nav-item nav-link"
						>Codes</a
					>
					<a
						href="http://127.0.0.1:8000/testimonial/"
						class="nav-item nav-link"
						>testimonial</a
					>
					<a
						href="http://127.0.0.1:8000/members/"
						class="nav-item nav-link"
						>Members</a
					>
					<a
						href="http://127.0.0.1:8000/about/"
						class="nav-item nav-link"
						>About Us</a
					>

					<a
						href="http://127.0.0.1:8000/contactus/"
						class="nav-item nav-link"
						>Contact Us</a
					>
				</div>
			</div>
		</nav>
		<!-- Navbar End -->
		<!-- Page Header Start -->
		<div class="container-fluid bg-dark bg-img p-5 mb-5">
			<div class="row">
				<div class="col-12 text-center">
					<h1 class="display-4 text-uppercase text-white">
						The Stock Market Codes of companies are given below:
					</h1>
					<a href="http://127.0.0.1:8000/">Home</a>
					<i class="far fa-square text-primary px-2"></i>
					<a href="http://127.0.0.1:8000/codes/">Codes</a>
				</div>
			</div>
		</div>
		<!-- Page Header End -->

		<div
			id="symbolresult"
			class="section-title position-relative text-center mx-auto mb-5 pb-3"
		>
			<h2>Enter the Company name to search the symbol:</h2>
			<input
				id="company"
				name="company"
				type="text"
				placeholder="Company Name"
			/>
			<input id="companysearch" type="submit" value="View symbol" />
			<p>The symbol is:</p>
			<p id="result">--</p>
		</div>

		<h1
			id="searchpageheading"
			class="section-title position-relative text-center mx-auto mb-5 pb-3"
		>
			The list of Symbols of all the Companies is given below.
		</h1>
		<div>
			<table
				id="codestable"
				class="section-title position-relative text-center mx-auto mb-5 pb-3"
			>
				<thead id="codestablehead"></thead>
				<hr />
				<tbody></tbody>
			</table>
		</div>
		<h1
			id="codestableend"
			class="section-title position-relative text-center mx-auto mb-5 pb-3"
		>
			That's the end of Company Codes list.
		</h1>

		<!-- Page Header Start -->
		<div class="container-fluid bg-dark bg-img p-5 mb-5">
			<div class="row">
				<div class="col-12 text-center">
					<h1 class="display-4 text-uppercase text-white">
						About Us
					</h1>
					<a href="http://127.0.0.1:8000/">Home</a>
					<i class="far fa-square text-primary px-2"></i>
					<a href="http://127.0.0.1:8000/codes/">Codes</a>
				</div>
			</div>
		</div>
		<!-- Page Header End -->

		<!-- Footer Start -->
		<div
			class="container-fluid bg-dark bg-img text-secondary"
			style="margin-top: 135px"
		>
			<div class="container">
				<div class="row gx-5">
					<div class="col-lg-4 col-md-6 mt-lg-n5">
						<div
							class="d-flex flex-column align-items-center justify-content-center text-center h-100 bg-primary border-inner p-4"
						>
							<a href="index.html" class="navbar-brand">
								<h1 class="m-0 text-uppercase text-white">
									<i
										class="fa fa-birthday-cake fs-1 text-dark me-3"
									></i
									>Stock Market <br />Predictions
								</h1>
							</a>
							<p class="mt-3">
								Lorem diam sit erat dolor elitr et, diam lorem
								justo labore amet clita labore stet eos magna
								sit. Elitr dolor eirmod duo tempor lorem, elitr
								clita ipsum sea. Nonumy rebum et takimata ea
								takimata amet gubergren, erat rebum magna lorem
								stet eos. Diam amet et kasd eos duo dolore no.
							</p>
						</div>
					</div>
					<div class="col-lg-8 col-md-6">
						<div class="row gx-5">
							<div class="col-lg-4 col-md-12 pt-5 mb-5">
								<h4 class="text-primary text-uppercase mb-4">
									Get In Touch
								</h4>
								<div class="d-flex mb-2">
									<i
										class="bi bi-geo-alt text-primary me-2"
									></i>
									<p class="mb-0">
										123 Street, New York, USA
									</p>
								</div>
								<div class="d-flex mb-2">
									<i
										class="bi bi-envelope-open text-primary me-2"
									></i>
									<p class="mb-0">info@example.com</p>
								</div>
								<div class="d-flex mb-2">
									<i
										class="bi bi-telephone text-primary me-2"
									></i>
									<p class="mb-0">+012 345 67890</p>
								</div>
								<div class="d-flex mt-4">
									<a
										class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 me-2"
										href="#"
										><i class="fab fa-twitter fw-normal"></i
									></a>
									<a
										class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 me-2"
										href="#"
										><i
											class="fab fa-facebook-f fw-normal"
										></i
									></a>
									<a
										class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 me-2"
										href="#"
										><i
											class="fab fa-linkedin-in fw-normal"
										></i
									></a>
								</div>
							</div>
							<div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
								<h4 class="text-primary text-uppercase mb-4">
									Quick Links
								</h4>
								<div
									class="d-flex flex-column justify-content-start"
								>
									<a class="text-secondary mb-2" href="#"
										><i
											class="bi bi-arrow-right text-primary me-2"
										></i
										>Home</a
									>
									<a class="text-secondary mb-2" href="#"
										><i
											class="bi bi-arrow-right text-primary me-2"
										></i
										>About Us</a
									>
									<a class="text-secondary mb-2" href="#"
										><i
											class="bi bi-arrow-right text-primary me-2"
										></i
										>Our Services</a
									>
									<a class="text-secondary mb-2" href="#"
										><i
											class="bi bi-arrow-right text-primary me-2"
										></i
										>Meet The Team</a
									>
									<a class="text-secondary mb-2" href="#"
										><i
											class="bi bi-arrow-right text-primary me-2"
										></i
										>Latest Blog</a
									>
									<a class="text-secondary" href="#"
										><i
											class="bi bi-arrow-right text-primary me-2"
										></i
										>Contact Us</a
									>
								</div>
							</div>
							<div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
								<h4 class="text-primary text-uppercase mb-4">
									Newsletter
								</h4>
								<p>
									Amet justo diam dolor rebum lorem sit stet
									sea justo kasd
								</p>
								<form action="">
									<div class="input-group">
										<input
											type="text"
											class="form-control border-white p-3"
											placeholder="Your Email"
										/>
										<button class="btn btn-primary">
											Sign Up
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="container-fluid text-secondary py-4"
			style="background: #111111"
		>
			<div class="container text-center">
				<p class="mb-0">
					&copy;
					<a class="text-white border-bottom" href="#"
						>Your Site Name</a
					>. All Rights Reserved. Designed by
					<a
						class="text-white border-bottom"
						href="https://htmlcodex.com"
						>HTML Codex</a
					>
				</p>
			</div>
		</div>
		<!-- Footer End -->

		<!-- Back to Top -->
		<a href="#" class="btn btn-primary border-inner py-3 fs-4 back-to-top"
			><i class="bi bi-arrow-up"></i
		></a>

		<!-- JavaScript Libraries -->
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
		{% load static %}
		<script
			src="{% static '/lib/easing/easing.min.js.js' %}"
			type="text/javascript"
		></script>
		<script
			src="{% static '/lib/waypoints/waypoints.min.js' %}"
			type="text/javascript"
		></script>
		<script
			src="{% static '/lib/counterup/counterup.min.js' %}"
			type="text/javascript"
		></script>
		<script
			src="{% static '/jlib/owlcarousel/owl.carousel.min.js' %}"
			type="text/javascript"
		></script>

		<!-- Template Javascript -->
		{% load static %}
		<script
			src="{% static '/js/main.js' %}"
			type="text/javascript"
		></script>
	</body>
</html>
