<html>
	<head>
		<style>
			h1,
			h2 {
				color: antiquewhite;
				margin: 3cm;
			}
			body {
				background-image: url("https://wallpaperaccess.com/full/1393721.jpg");
			}
		</style>
		<title>Gainers</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'styles.css' %}" />
	</head>
	<body>
		<header>
			<button onclick="window.location.href='http://127.0.0.1:8000/'">
				Home
			</button>
			<button
				onclick="window.location.href='http://127.0.0.1:8000/predictions'"
			>
				Predict
			</button>
			<button
				onclick="window.location.href='http://127.0.0.1:8000/search'"
			>
				Search
			</button>
			<button
				onclick="window.location.href='http://127.0.0.1:8000/gainers'"
			>
				Gainers
			</button>
			<button
				onclick="window.location.href='http://127.0.0.1:8000/losers'"
			>
				Losers
			</button>
			<button
				onclick="window.location.href='http://127.0.0.1:8000/codes'"
			>
				Symbols
			</button>
			<button
				onclick="window.location.href='http://127.0.0.1:8000/credits'"
			>
				Credits
			</button>
		</header>
		<hr />
		<h1>The Prices of the Stock for the next working day will Decrease.</h1>
		<h2>
			All the Information can be accessed through the graph displayed
			earlier.
		</h2>
	</body>
</html>
